@model BookingTicket.Entities.Models.NguoiDung

@{
    ViewData["Title"] = "Delete";
}

<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">DELETE USER</h2>
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>NguoiDung</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.SDT)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SDT)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.HoTen)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.HoTen)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="UserID" />
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        <a style="text-align: right;" asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
