@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Mvc.Common
@model IPagedList<BookingTicket.Domain.ViewModels.TuyenXe>

@{
    Layout = "~/Areas/Admin/Views/_Shared/_Layout.cshtml";

    ViewData["Title"] = "DieuHanh";
    ViewData["Page"] = "DieuHanh";
}
@*<link href="~/css/icheck/skins/all.css" rel="stylesheet" />
    <link href="~/css/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/select2-bootstrap-theme/dist/select2-bootstrap.min.css" rel="stylesheet" />*@
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Điều Hành Xe</h2>
                <div class="table-toolbar">
                    <div style="padding-bottom: 4rem;">
                        <div style="float:left;">
                            <a>
                                <button class="btn btn-success" data-toggle="modal"
                                        data-target="#CreateModal">
                                    Thêm mới <i class="icon-plus icon-white"></i>
                                </button>
                            </a>
                        </div>
                        <div style="float:right;">
                            @using (Html.BeginForm("Index", "DieuHanh", FormMethod.Post))
                            {
                                <input type="text" id="tuyenxe" name="tuyenxe" placeholder="Tuyến xe" class="form-control" style="width: auto; display: inline-block" />
                                <input type="text" id="matuyenxe" name="matuyenxe" hidden />
                                @*<select asp-items="ViewBag.TuyenXe" class="js-example-basic-multiple form-control" multiple="multiple" style="width: auto !important;"></select>*@
                                <input type="text" id="xe" name="xe" placeholder="Xe" class="form-control" style="width: auto; display: inline-block" />
                                <input type="text" id="maxe" name="maxe" hidden />
                                <input id="ngaykhoihanh" name="ngaykhoihanh" placeholder="Ngày khởi hành" class="form-control" style="width: auto; display: inline-block" />
                                <button type="submit" id="btnTimKiem" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã điều hành</th>
                            <th>Ngày khởi hành</th>
                            <th>Tuyến xe</th>
                            <th>Thời gian chạy</th>
                            <th>Xe</th>
                            <th>Chỗ ngồi</th>
                            <th width="150">Chỉnh sửa</th>
                            <th width="85">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var tuyen = item.DiaDiemDi + "->" + item.DiaDiemDen;
                            var thoigian = item.ThoiGianKhoiHanh + "-" + item.ThoiGianKetThuc;

                            <tr>
                                <td>@item.MaDieuHanh</td>
                                <td>@item.NgayKhoiHanh</td>
                                <td>@tuyen</td>
                                <td>@thoigian</td>
                                <td>@item.TenXe</td>
                                <td>
                                    <a href="#" class="chongoi" data-id="@item.MaDieuHanh" data-toggle="modal" data-target="#ChoNgoiModal">
                                        @item.TinhTrang / @item.TongGhe
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-primary edit-dieuhanh" data-id="@item.MaDieuHanh" data-toggle="modal"
                                       data-target="#EditModal">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <a asp-area="Admin" asp-controller="DieuHanh" asp-action="Delete" asp-route-id="@item.MaDieuHanh" class="btn btn-danger delete_dieuhanh">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
                <div style="float:right;padding-top: 25px;">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @(Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" },
                            UlElementClasses = new string[] { "pagination rounded-flat pagination-success" }
                        }))
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<!-- Create modal -->
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Điều hành</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "DieuHanh", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputName1">Ngày khởi hành</label>
                        <input class="form-control" id="NgayKhoiHanh" name="NgayKhoiHanh">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Chọn tuyến xe</label>
                        <input type="text" id="MaTuyenXe" name="MaTuyenXe" />
                        <input type="text" class="form-control" id="tuyenxe-create" name="tuyenxe" placeholder="Chọn tuyến xe">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Chọn xe</label>
                        <input type="text" id="MaXe" name="MaXe" />
                        <input type="text" class="form-control" id="xe-create" name="xe" placeholder="Chọn xe">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            }

        </div>
    </div>
</div>

<!-- Edit modal -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Edit", "DieuHanh", FormMethod.Post))
            {
                <div class="modal-body">
                    <input type="text" id="MaDieuHanh" name="MaDieuHanh" />
                    <div class="form-group">
                        <label for="exampleInputName1">Ngày khởi hành</label>
                        <input class="form-control" id="NgayKhoiHanh_Edit" name="NgayKhoiHanh">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Chọn tuyến xe</label>
                        <input type="text" id="MaTuyenXe" name="MaTuyenXe" />
                        <input type="text" class="form-control" id="tuyenxe-edit" name="tuyenxe">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Chọn xe</label>
                        <input type="text" id="MaXe" name="MaXe" />
                        <input type="text" class="form-control" id="xe-edit" name="xe">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save changes</button>
                </div>
            }

        </div>
    </div>
</div>


<!-- DieuHanhXe -->
<div class="modal fade" id="ChoNgoiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỗ ngồi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card" style="background-color:#F6F8FA;">
                    <div class="card-body dschongoi_partial">

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Save Change</button>
            </div>
        </div>
    </div>
</div>

<!--END Modal -->


@section scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        var getSuggestionTuyenXe = function () {
            $.ajax({
                url: "/Admin/DieuHanh/GetListTuyenXe",
                data: {
                    "name": ""
                },
                type: "GET",
                contentType: "json",
                success: function (data) {
                    console.log(data)
                    items = [];
                    map = [];
                    $.each(data, function (i, item) {
                        var id = item.maTuyenXe;
                        var diadiem = item.diaDiem;
                        map.push({
                            id: id,
                            name: diadiem
                        });
                    });
                    // response(items);
                    $("#tuyenxe").autocomplete({
                        source: map.map(r => r.name),
                        select: function (event, ui) {
                            var selection = ui.item.label;
                            $("#tuyenxe").val(selection);
                            $("#matuyenxe").val(
                                map[map.map(r => r.name).indexOf(selection)].id
                            );
                            console.log(map[map.map(r => r.name).indexOf(selection)].id)
                            return false;
                        }
                    });
                    $("#tuyenxe-create").autocomplete({
                        source: map.map(r => r.name),
                        select: function (event, ui) {
                            var selection = ui.item.label;
                            $("#tuyenxe-create").val(selection);
                            $("#MaTuyenXe").val(
                                map[map.map(r => r.name).indexOf(selection)].id
                            );
                            console.log(map[map.map(r => r.name).indexOf(selection)].id)
                            return false;
                        }
                    });
                },
                error: function (response) {
                    alert(response.responseText);
                    console.log("errror");
                },
                failure: function (response) {
                    alert(response.responseText);
                    console.log("EEE");
                }
            });
        }();

        var getSuggestionXe = function () {
            $.ajax({
                url: "/Admin/DieuHanh/GetListXe",
                data: {},
                type: "GET",
                contentType: "json",
                success: function (data) {
                    console.log(data)
                    items = [];
                    map = [];
                    $.each(data, function (i, item) {
                        var id = item.maXe;
                        var xe = item.bienSoXe;
                        map.push({
                            id: id,
                            name: xe
                        });
                    });
                    $("#xe").autocomplete({
                        source: map.map(r => r.name),
                        select: function (event, ui) {
                            var selection = ui.item.label;
                            $("#xe").val(selection);
                            $("#maxe").val(
                                map[map.map(r => r.name).indexOf(selection)].id
                            );
                            console.log(map[map.map(r => r.name).indexOf(selection)].id)
                            return false;
                        }
                    });
                    $("#xe-create").autocomplete({
                        source: map.map(r => r.name),
                        select: function (event, ui) {
                            var selection = ui.item.label;
                            $("#xe-create").val(selection);
                            $("#MaXe").val(
                                map[map.map(r => r.name).indexOf(selection)].id
                            );
                            console.log(map[map.map(r => r.name).indexOf(selection)].id)
                            return false;
                        }
                    });
                },
                error: function (response) {
                    alert(response.responseText);
                    console.log(response)
                },
                failure: function (response) {
                    alert(response.responseText);
                    console.log(response);
                }
            });
        }();

        $(document).ready(function () {
            $(".chongoi").click(function () {
                $.ajax({
                    url: "/Admin/DieuHanh/GetListChoNgoiById",
                    data: {
                        id: $(this).data("id")
                    },
                    type: "GET",
                    contentType: "json",
                    success: function (data) {
                        $(".dschongoi_partial").html(data);
                    },
                    error: function (response) {
                        console.log(response)
                    }
                });
            });


            $(".edit-dieuhanh").click(function (e) {
                $.ajax({
                    url: "/Admin/DieuHanh/Edit",
                    data: {
                        id: $(this).data("id")
                    },
                    type: "GET",
                    contentType: "json",
                    success: function (data) {
                        console.log(data);
                        $("#MaDieuHanh").val(data[0].maDieuHanh);
                        $("#tuyenxe-edit").val(data[0].diaDiem);
                        $("#xe-edit").val(data[0].tenXe);
                        $("#NgayKhoiHanh_Edit").val(data[0].ngayKhoiHanh);
                    },
                    error: function (response) {
                        console.log(response)
                    }
                });
            });

            $('.delete_dieuhanh').click(function (e) {
                var result = confirm("Want to delete?");
                if (!result) {
                    e.preventDefault();
                }
            });

            $("#NgayKhoiHanh").datepicker({
                dateFormat: 'yy-mm-dd',//check change
                changeMonth: true,
                changeYear: true
            });
            $("#NgayKhoiHanh_Edit").datepicker({
                dateFormat: 'yy-mm-dd',//check change
                changeMonth: true,
                changeYear: true
            });
            $("#ngaykhoihanh").datepicker({
                dateFormat: 'yy-mm-dd',//check change
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}