@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Mvc.Common
@model IPagedList<BookingTicket.Entities.Models.TuyenXe>
@{
    ViewData["Title"] = "TuyenXe";
    ViewData["Page"] = "Tuyen";
}

<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Quản lí tuyến xe</h4>
                <div class="table-toolbar">
                    <div>
                        <div style="float:left;">
                            <button class="btn btn-success" data-toggle="modal"
                                    data-target="#CreateModal">
                                Thêm mới
                            </button>
                        </div>
                        <div style="float:right;">
                            @using (Html.BeginForm("Index", "TuyenXe", FormMethod.Post))
                            {
                                <input type="text" id="searchString" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.searchString" class="form-control" style="width: auto; display: inline-block" />
                                <button type="submit" id="btnTimKiem" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã tuyến</th>
                            <th>Tên tuyến</th>
                            <th>Hành trình</th>
                            <th>Thời gian</th>
                            <th width="150">Chỉnh sửa</th>
                            <th width="85">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var thoigian = item.ThoiGianKhoiHanh.ToString(@"hh\:mm") + "-" + item.ThoiGianKetThuc.ToString(@"hh\:mm");
                            <tr>
                                <td>@item.MaTuyenXe</td>
                                <td>@item.TenTuyenXe</td>
                                <td>@item.DiaDiem</td>
                                <td>@thoigian</td>
                                <td>
                                    <a href="#" class="btn btn-primary edit-tuyenxe" data-id="@item.MaTuyenXe" >
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <a asp-area="Admin" asp-controller="TuyenXe" asp-action="Delete" asp-route-id="@item.MaTuyenXe" class="btn btn-danger delete_tuyenxe">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="float:right;padding-top: 25px;">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @(Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" },
                            UlElementClasses = new string[] { "pagination rounded-flat pagination-success" }
                        }))
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<!-- Create modal -->
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Tuyến Xe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "TuyenXe", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="TenTuyenXe">Tên tuyến</label>
                        <input class="form-control" type="text" id="TenTuyenXe" name="TenTuyenXe"
                               placeholder="Tên tuyến xe">
                    </div>
                    <div class="form-group">
                        <label for="DiaDiemDi">Địa điểm đi</label>
                        <input type="text" class="form-control" id="DiaDiemDi" name="DiaDiemDi" placeholder="Địa điểm đi">
                    </div>
                    <div class="form-group">
                        <label for="DiaDiemDen">Địa điểm điến</label>
                        <input type="text" class="form-control" id="DiaDiemDen" name="DiaDiemDen" placeholder="Địa điểm đến">
                    </div>
                    <div class="form-group">
                        <label for="GiaVe">Giá vé</label>
                        <input type="text" class="form-control" id="GiaVe" name="GiaVe" placeholder="Giá vé">
                    </div>
                    <div class="form-group">
                        <label for="ThoiGianKhoiHanh">Giờ đi</label>
                        <div class="input-group date" id="ThoiGianKhoiHanh_Create" data-target-input="nearest">
                            <div class="input-group" data-target="#ThoiGianKhoiHanh_Create" data-toggle="datetimepicker">
                                <input type="text" id="ThoiGianKhoiHanh" name="ThoiGianKhoiHanh" placeholder="Thời gian đến" class="form-control datetimepicker-input" data-target="#ThoiGianKhoiHanh_Create" />
                                <div class="input-group-addon input-group-append"><i class="mdi mdi-clock input-group-text"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ThoiGianKetThuc">Giờ đến</label>
                        <div class="input-group date" id="ThoiGianKetThuc_Create" data-target-input="nearest">
                            <div class="input-group" data-target="#ThoiGianKetThuc_Create" data-toggle="datetimepicker">
                                <input type="text" id="ThoiGianKetThuc" name="ThoiGianKetThuc" placeholder="Thời gian đến" class="form-control datetimepicker-input" data-target="#ThoiGianKetThuc_Create" />
                                <div class="input-group-addon input-group-append"><i class="mdi mdi-clock input-group-text"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="test btn btn-success">Create</button>
                </div>
            }
        </div>

    </div>
</div>

<!-- Edit modal -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa tuyến xe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Edit", "TuyenXe", FormMethod.Post))
            {
                <div class="modal-body">
                    <input type="text" id="MaTuyenXe" name="MaTuyenXe" hidden />
                    <div class="form-group">
                        <label for="TenTuyenXe_Edit">Tên tuyến</label>
                        <input class="form-control" type="text" id="TenTuyenXe_Edit" name="TenTuyenXe">
                    </div>
                    <div class="form-group">
                        <label for="DiaDiemDi_Edit">Địa điểm đi</label>
                        <input type="text" class="form-control" id="DiaDiemDi_Edit" name="DiaDiemDi">
                    </div>
                    <div class="form-group">
                        <label for="DiaDiemDen_Edit">Địa điểm điến</label>
                        <input type="text" class="form-control" id="DiaDiemDen_Edit" name="DiaDiemDen">
                    </div>
                    <div class="form-group">
                        <label for="GiaVe_Edit">Giá vé</label>
                        <input type="text" class="form-control" id="GiaVe_Edit" name="GiaVe" placeholder="Giá vé">
                    </div>
                    <div class="form-group">
                        <label for="ThoiGianKhoiHanh_Edit">Giờ đi</label>
                        <div class="input-group date" id="TGKhoiHanh_Edit" data-target-input="nearest">
                            <div class="input-group" data-target="#TGKhoiHanh_Edit" data-toggle="datetimepicker">
                                <input type="text" id="ThoiGianKhoiHanh_Edit" name="ThoiGianKhoiHanh" class="form-control datetimepicker-input" data-target="#TGKhoiHanh_Edit" />
                                <div class="input-group-addon input-group-append"><i class="mdi mdi-clock input-group-text"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ThoiGianKetThuc_Edit">Giờ đến</label>
                        <div class="input-group date" id="TGKetThuc_Edit" data-target-input="nearest">
                            <div class="input-group" data-target="#TGKetThuc_Edit" data-toggle="datetimepicker">
                                <input type="text" id="ThoiGianKetThuc_Edit" name="ThoiGianKetThuc" class="form-control datetimepicker-input" data-target="#TGKetThuc_Edit" />
                                <div class="input-group-addon input-group-append"><i class="mdi mdi-clock input-group-text"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="test btn btn-success">Edit</button>
                </div>
            }
        </div>
    </div>
</div>
<!--END Modal -->

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ThoiGianKhoiHanh_Create').datetimepicker({
                format: 'LT',
                format: 'HH:mm'
            });

            $('#ThoiGianKetThuc_Create').datetimepicker({
                format: 'LT',
                format: 'HH:mm'
            });

            $('#TGKhoiHanh_Edit').datetimepicker({
                format: 'LT',
                format: 'HH:mm'
            });

            $('#TGKetThuc_Edit').datetimepicker({
                format: 'LT',
                format: 'HH:mm'
            });

            $(".edit-tuyenxe").click(function (e) {
                $.ajax({
                    url: "/Admin/TuyenXe/Edit",
                    data: {
                        id: $(e.target).data("id")
                    },
                    type: "GET",
                    contentType: "json",
                    success: function (data) {
                        console.log(data);
                        $("#MaTuyenXe").val(data.maTuyenXe);
                        $("#TenTuyenXe_Edit").val(data.tenTuyenXe);
                        $("#DiaDiemDi_Edit").val(data.diaDiemDi);
                        $("#DiaDiemDen_Edit").val(data.diaDiemDen);
                        $("#GiaVe_Edit").val(data.giaVe);
                        $("#ThoiGianKhoiHanh_Edit").val(data.thoiGianKhoiHanh);
                        $("#ThoiGianKetThuc_Edit").val(data.thoiGianKetThuc);

                        $("#EditModal").modal("show");
                    },
                    error: function (response) {
                        console.log(response)
                    }
                });
            });


            $('.delete_tuyenxe').click(function (e) {
                var result = confirm("Want to delete?");
                if (!result) {
                    e.preventDefault();
                }
            });
        });
    </script>
}