@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Mvc.Common
@model IPagedList<BookingTicket.Entities.Models.ThongTinDatCho>
@{
    ViewData["Title"] = "ThongTinDatVe";
    ViewData["Page"] = "DatVe";
}

<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thông tin đặt vé</h4>
                <div class="table-toolbar">
                    <div>
                        <div style="float:right;">
                            @using (Html.BeginForm("Index", "ThongTinDatVe", FormMethod.Post))
                            {
                                <input type="text" id="searchString" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.searchString" class="form-control" style="width: auto; display: inline-block" />
                                <button type="submit" id="btnTimKiem" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã đặt chỗ</th>
                            <th>Họ tên</th>
                            <th>SDT</th>
                            <th>Số lượng vé</th>
                            <th>Ngày đặt</th>
                            <th width="150">Chỉnh sửa</th>
                            <th width="85">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MaDatCho</td>
                                <td>@item.HoTenNguoiDat</td>
                                <td>@item.SDT</td>
                                <td>@item.SoLuongVe</td>
                                <td>@item.NgayDat</td>
                                <td>
                                    <a asp-area="Admin" asp-controller="ThongTinDatVe" asp-action="Edit" asp-route-id="@item.MaDatCho" class="btn btn-primary">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <a asp-area="Admin" asp-controller="ThongTinDatVe" asp-action="Delete" asp-route-id="@item.MaDatCho" class="btn btn-danger delete_infodatcho">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="float:right;padding-top: 25px;">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @(Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" },
                            UlElementClasses = new string[] { "pagination rounded-flat pagination-success" }
                        }))
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $('.delete_infodatcho').click(function (e) {
            var result = confirm("Want to delete?");
            if (!result) {
                e.preventDefault();
            }
        });
    </script>
}